daft==0.1.0
torchplot==0.2.0
numpy==1.19.2
matplotlib==3.3.2
pytorch_lightning==1.0.2
torch==1.8.0
umap_learn==0.5.1
pandas==1.1.3
codecarbon==1.2.0
scipy==1.5.3
seaborn==0.11.0
tqdm==4.50.2
torchvision==0.9.0
KDEpy==1.0.10
Pillow==8.2.0
PyYAML==5.4.1
scikit_learn==0.24.2
umap==0.1.1
